/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #5b65f5;
  --first-color-light: #c4c7f5;
  --dark-color: #0e1026;
  --white-color: #fbfbfb;

  /*===== Font and typography =====*/
  --body-font: "Open Sans", sans-serif;
  --nav-name-font-size: 1.5rem;
  --normal-font-size: 0.938rem;

  @media screen and (min-width: 768px) {
    --nav-name-font-size: 1rem;
    --normal-font-size: 1rem;
  }

  /*===== z index =====*/
  --z-fixed: 100;
}
